div[data-kind="Goal"] {
    color: red;
}

div[data-kind="Leaf"] {
    color: green;
}

/* normally don't display interaction buttons */
.interaction {
  display: none;
}

/* display interaction buttons if node is goal or if its being
   hovered/focused at */
.node:hover .interaction, .interaction:hover, .interaction:focus, .node[data-kind="Goal"] .interaction {
  display: inline-block;
}

.errors {
    white-space: pre-wrap;
    color: red;
}

#app-help {
    border:1px solid black;
}
